<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHnc7vdKPhgMHlmWPGKJtlvssKl3Zj53w</string>
	<key>GCM_SENDER_ID</key>
	<string>908775029903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.akaushi.ondulis-app</string>
	<key>PROJECT_ID</key>
	<string>ondulis-app-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>ondulis-app-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908775029903:ios:a26a0c193927d49407c4fa</string>
</dict>
</plist>